*{
    box-sizing: content-box;
}

body{
    
    background-image: url(../img/bg2.png);
    background-size: cover ;
    background-repeat: no-repeat;
}

.header{
    background-color: rgba(255, 255, 224, 0.5);
    padding: 15px;
    margin: 0px;
    font-size: 25pt;
    text-align: center;
    border-bottom: 5px solid black;
}

.footer{
    background-color: rgba(240, 240, 146, 0.5);
    text-align: center;
    font-size: 17pt;    
    
    margin-top: 10px;
}

.boxGame{
    background-color: rgba(224, 224, 218, 0.5);
    width: 60%;
    height: 900px;
    margin: auto;
    margin-top: 10px;
    padding: 10px;
}

.boxTopGame, .boxMidGame{
    padding: 0px;
    margin: 0px;
}

.sideDiv, .middelDiv{
    width: 19%;
    height: 60px;
    border: 1px solid black;
    display: inline-block;
    margin: 3px;
    text-align: center;
    font-size: 30pt;
    

}

.middelDiv{
    width: 57%;
    text-align: center;
    font-size: 30pt;
    cursor: pointer;
    
    
}

.infoDiv, .levelGame{
    width: 32%;
    height: 60px;
    border: 1px solid black;
    display: inline-block;
    margin: 3px;
}

.infoDiv{    
    text-align: center;
    font-size: 25pt;
}

.levelGame{
    font-size: 30pt;
    text-align: center;
    -webkit-box-shadow: 0px 0px 18px 10px rgba(0,0,0,0.47); 
    box-shadow: 0px 0px 18px 10px rgba(0,0,0,0.47);
}

.boxTableGame{
    width: 99%;
    height: 590px;
    border: 1px solid black;
    display: inline-block;
    margin: 3px;
    padding: 5px;
}

.boxTable{
    
    margin: auto;
    display: block;
    
}

.tableGame{
    margin: auto;
    margin-top: 30px;
}

.board-row, .cell{
    width: 40px;
    height: 40px;
    border: 1px solid black;    
    text-align: center;
    font-size: 20pt;
}



.tdImg{
    width: 40px;
    height: 40px;
    order: 1px solid black;
    
}



.isSafty{
    border: 5px solid black;
}